body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


#header {
    padding: 16px;
    background-color: dodgerblue;
    color: white
}

#logo {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav > ul > li > a {
    color: white;
    text-decoration: underline;
}

nav > ul {
    list-style: none;
}
body > footer {
    background-color: dodgerblue;
}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

body > main > article {
    width: 70%;
    margin: auto;
}

body > section {
    width: 70%;
    margin: auto;
}

#article1 {
    text-align: justify;
}

main > article {
    text-align: justify;
}


